{% comment %}

    Accepts:
    - tags: {String} Tags Liquid object

    Usage:
    {% render 'form-newsletter-signup', tags: tags %}

{% endcomment %}

{% assign tags = tags | default: 'newsletter' %}

{%- form 'customer', class: 'hype-builder__newsletter-form form form--newsletter-signup js--validate-me posting', id: 'form--newsletter-signup'  -%}

  <div class="form__main">

    <div class="form__row form-row--rude">
      <div class="form__field form-field--rude">
        {% render 'input', classes: 'input--primary input--rude', name: 'contact[rude]', type: 'text' %}
      </div>
      <div class="form__field form-field--tags">
        {% render 'input', classes: 'input--primary input--tags', readonly: true, required: false, name: 'contact[tags]', type: 'text', value: tags %}
      </div>
    </div>

    <div class="form__row form-row">
      <div class="form__field form-field--email">
        {% render 'input', classes: 'input--primary input--email', required: true, name: 'contact[email]', placeholder: 'Email', type: 'email' %}
      </div>
      <button class="form__button button--image" type="submit">
        {% render 'svg', type: 'button.submit' %}
      </button>
    </div>

  </div>

  <div class="form__loading">
    <div class="form__spinner"></div>
  </div>

{%- endform -%}
