 .collection-products {

  &__sort-filter {
    margin-bottom: var(--theme-layout--gutter);
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    &-label {
      display: none;
    }
    &-options {
      width: auto;
    }
  }

}
