@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;

.faqs {

  .accordion {
    &:first-child {
      .accordion__trigger.button {
        padding-top: 0;
      }
    }
  }

  &__list,
  &__media {
    display: block;
    width: 100%;
  }

  &__main {
    display: flex;
    width: 100%;
    flex-flow: column;
    & > * {
      & + * {
        margin-top: 38px;
      }
    }
  }

  &__media {
    @include border-solid( var(--theme-border--width), 'black' );
    border-radius: var(--theme-border--radius);
    overflow: hidden;
    &-image,
    &-video {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
    }
    &-video {}
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  @include breakpoint(lg) {

    &__list,
    &__media {
      display: block;
      width: 100%;
    }

    &__list {
      flex: 1;
    }

    &__main {
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
      gap: 50px;
      & > * {
        & + * {
          margin-top: 0;
        }
      }
    }

    &__media {
      width: 35%;
    }

  }

  @include breakpoint(xl) {}

  @include breakpoint(xxl) {}

}
