@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;
@use "../utils/mixins/font" as *;

.featured-yuzu-sake-fizz {

  &__content {
    padding: 0;
    &-extras {
      @include border-solid( var(--theme-border--width), 'black', 'top' );
      display: inline-flex;
      flex-flow: row wrap;
      width: 100%;
      &-block {
        padding: var(--theme-layout--gutter);
        width: 100%;
        & + .featured-yuzu-sake-fizz__content-extras-block {
          @include border-solid( var(--theme-border--width), 'black', 'top' );
        }
      }
      &-heading {
        font-size: min(45px, 7vw);
        & + .featured-yuzu-sake-fizz__content-extras-main {
          margin-top: min(26px, 1.85vw);
        }
      }
      &-main {
        @include sorry-sans( 700 );
        font-size: min(24px, 4.25vw);
        line-height: 1.18;
      }
    }
    &-main {
      padding-top: min(56px, 8.5vw);
      padding-bottom: min(56px, 8.5vw);
      padding-left: var(--theme-layout--gutter);
      padding-right: var(--theme-layout--gutter);
      &-cta {
        margin-top: min(56px, 7.5vw);
      }
      &-heading {
        font-size: min(100px, 10.75vw);
        line-height: 1;
      }
      &-message {
        font-size: min(32px, 5.25vw);
        line-height: 1.29;
      }
    }
  }

  @include breakpoint(md) {

    &__content {
      &-cta {
        @include border-solid( var(--theme-border--width), 'black', 'top' );
        padding: var(--theme-layout--gutter);
        &-link {
          margin: auto;
          max-width: 400px;
        }
      }
      &-extras {
        @include border-solid( var(--theme-border--width), 'black', 'top' );
        flex-flow: row nowrap;
        justify-content: space-evenly;
        &-block {
          padding: var(--theme-layout--gutter);
          width: calc( (100% - var(--theme-border--width)) * 0.5 );
          & + .featured-yuzu-sake-fizz__content-extras-block {
            @include border-solid( var(--theme-border--width), 'black', 'left' );
            border-top: none;
          }
        }
        &-heading {
          font-size: min(36px, 4.25vw);
          & + .featured-yuzu-sake-fizz__content-extras-main {
            margin-top: min(24px,1.8vw);
          }
        }
        &-main {
          font-size: min(22px,2.5vw)
        }
      }
    }

  }

  @include breakpoint(lg) {

    &__content {
      &-cta {
        @include border-solid( var(--theme-border--width), 'black', 'top' );
        padding: var(--theme-layout--gutter);
      }
      &-extras {
        @include border-solid( var(--theme-border--width), 'black', 'top' );
        flex-flow: row nowrap;
        justify-content: space-evenly;
        &-block {
          padding: var(--theme-layout--gutter);
          width: calc( (100% - var(--theme-border--width)) * 0.5 );
          & + .featured-yuzu-sake-fizz__content-extras-block {
            @include border-solid( var(--theme-border--width), 'black', 'left' );
            border-top: none;
          }
        }
        &-heading {
          font-size: min(40px, 2.25vw);
        }
        &-main {
          font-size: min(28px, 1.75vw);
        }
      }
      &-main {
        padding-top: min(36px, 8.5vw);
        padding-bottom: min(36px, 8.5vw);
        padding-left: var(--theme-layout--gutter);
        padding-right: var(--theme-layout--gutter);
        &-heading {
          font-size: min(102px, 5.35vw);
        }
        &-message {
          font-size: min(36px, 2vw);
          line-height: 1.39;
        }
      }
    }

    &__media {
      height: 100%;
      &-image,
      &-link {
        height: 100%;
        display: block;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

  }

}
