@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;
@use "../utils/mixins/font" as *;

.featured-product {

  &__content,
  &__image {
    width: 100%;
  }

  &__content {
    padding-top: calc(1.25 * var(--theme-layout--gutter));
    padding-bottom: calc(1.25 * var(--theme-layout--gutter));
    padding-left: var(--theme-layout--gutter);
    padding-right: var(--theme-layout--gutter);

  }

  &__grid {
    background: var(--theme-colour--black);
    row-gap: var(--theme-border--width);
  }

  &__image {
    position: relative;
    order: 1;
    &-badge {
      position: absolute;
      top: 7.5vw;
      right: 7.5vw;
      height: 95px;
      img, svg {
        display: block;
        height: 100%;
        width: auto;
      }
    }
  }

  @include breakpoint(sm) {

    &__image {
      &-badge {
        height: 115px;
      }
    }

  }

  @include breakpoint(md) {

    &__image {
      &-badge {
        height: 135px;
      }
    }

  }

  @include breakpoint(lg) {

    &__content {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: max(var(--theme-layout--gutter), 3.25vw);
      padding-right: max(var(--theme-layout--gutter), 3.25vw);
      order: initial;
    }

    &__heading {
      font-weight: 5.25vw;
    }

    &__grid {
      row-gap: 0;
      column-gap: var(--theme-border--width);
    }

    &__image {
      &-badge {
        top: 4.5vw;
        right: 4.5vw;
        height: 110px;
      }
    }

  }

  @include breakpoint(xl) {

     &__image {
      &-badge {
        height: 135px;
      }
    }

  }

  @include breakpoint(xxl) {

    &__image {
      &-badge {
        height: 155px;
      }
    }

  }

}
