@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;

.list-collections {

    .fifty-fifty {

    &:nth-child(4n+1) {
      .fifty-fifty {
        &__item {
          &.content {
            background: var(--theme-colour--orange);
          }
        }
      }
    }

    &:nth-child(4n+2) {
      .fifty-fifty {
        &__item {
          &.content {
            background: var(--theme-colour--mango);
          }
        }
      }
    }

    &:nth-child(4n+3) {
      .fifty-fifty {
        &__item {
          &.content {
            background: var(--theme-colour--lemon);
          }
        }
      }
    }

    &:nth-child(4n+4) {
      .fifty-fifty {
        &__item {
          &.content {
            background: var(--theme-colour--lime);
          }
        }
      }
    }

    & + .fifty-fifty {
      @include border-solid( var(--theme-border--width), 'black', 'top' );
    }

  }

  &__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  @include breakpoint(lg) {

    .fifty-fifty {
      &:nth-child(even) {
        .fifty-fifty {
          &__item {
            &.content {
              order: 1;
            }
            &.media {
              order: 2;
            }
          }
        }
      }
    }

  }

}
