@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;

.list-collections {

  &__item {
    &:nth-child(4n+1) {
      .card-collection {
        &__content {
          background: var(--theme-colour--orange);
        }
      }
    }
    &:nth-child(4n+2) {
      .card-collection {
        &__content {
          background: var(--theme-colour--mango);
        }
      }
    }
    &:nth-child(4n+3) {
      .card-collection {
        &__content {
          background: var(--theme-colour--lemon);
        }
      }
    }
    &:nth-child(4n+4) {
      .card-collection {
        &__content {
          background: var(--theme-colour--lime);
        }
      }
    }
    & + .list-collections__item {
      @include border-solid( var(--theme-border--width), 'black', 'top' );
    }
  }

  @include breakpoint(sm) {}

  @include breakpoint(md) {

    &__item {
      &:nth-child(odd) {
        .card-collection {
          &__content {
            order: 2;
          }
          &__image {
            order: 1;
          }
        }
      }
      &:nth-child(even) {
        .card-collection {
          &__content {
            order: 1;
          }
          &__image {
            order: 2;
          }
        }
      }
    }

  }

  @include breakpoint(lg) {}

  @include breakpoint(xl) {}

  @include breakpoint(xxl) {}

}
