@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;

.product-carousel {

  text-align: center;

  &__glide {
    width: calc(100% + var(--theme-layout--container-padding));
    max-width: none;
  }

  &__heading {
    text-align: center;
    margin-bottom: 24px;
  }

  &__main {
    padding-left: var(--theme-layout--container-padding);
    padding-right: var(--theme-layout--container-padding);
    position: relative;
  }

  @include breakpoint(sm) {}

  @include breakpoint(md) {}

  @include breakpoint(lg) {

    &__heading {
      margin-bottom: 38px;
    }

  }

  @include breakpoint(xl) {}

  @include breakpoint(xxl) {

    &__heading {
      margin-bottom: 42px;
    }

  }

}
