@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;

.reviews {

  .glide {
    &__bullet {
      color: var(--theme-colour--lemon);
      &:hover,
      &.glide__bullet--active {
        color: var(--theme-colour--black);
      }
    }
    &__bullets {
      padding: 0;
      margin-top: 20px;
    }
    &__nav {
      color: var(--theme-colour--lemon);
      height: 40px;
      position: absolute;
      width: auto;
      top: 50%;
      img, svg {
        display: block;
        height: 100%;
        width: auto;
      }
      &.next {
        right: 0;
      }
      &.prev {
        transform: rotate(180deg);
        left: 0;
      }
      &:hover {
        opacity: var(--theme-transition--opacity);
      }
    }
  }

  &__heading {
    text-align: center;
    margin-bottom: 24px;
  }

  &__main {
    padding-left: var(--theme-layout--container-padding);
    padding-right: var(--theme-layout--container-padding);
  }

  @include breakpoint(sm) {}

  @include breakpoint(md) {

    &__heading {
      margin-bottom: 32px;
    }

  }

  @include breakpoint(lg) {

    .glide {
      padding-left: 7.5%;
      padding-right: 7.5%;
    }

    &__heading {
      margin-bottom: 38px;
    }

    &__main {
      padding: 0;
      width: 100%;
      max-width: var(--theme-container--lg);
      margin-left: auto;
      margin-right: auto;
    }

  }

  @include breakpoint(xl) {

    &__main {
      max-width: var(--theme-container--xl);
    }

  }

  @include breakpoint(xxl) {

    &__heading {
      margin-bottom: 42px;
    }

    &__main {
      max-width: var(--theme-container--xxl);
    }

  }

}
