@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;

.reviews {

  &__heading {
    text-align: center;
  }

  &__main {
    padding-left: var(--theme-layout--container-padding);
    padding-right: var(--theme-layout--container-padding);
  }

  @include breakpoint(sm) {}

  @include breakpoint(md) {}

  @include breakpoint(lg) {

    &__main {
      padding: 0;
      width: 100%;
      max-width: var(--theme-container--lg);
      margin-left: auto;
      margin-right: auto;
    }

  }

  @include breakpoint(xl) {

    &__main {
      max-width: var(--theme-container--xl);
    }

  }

  @include breakpoint(xxl) {

    &__main {
      max-width: var(--theme-container--xxl);
    }

  }

}
