@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;

.stockists {

  &__error,
  &__listing {
    padding: var(--theme-layout--container-padding);
  }

  &__city {
    @include border-solid( var(--theme-border--width), 'black', 'top' );
    @include border-solid( var(--theme-border--width), 'black', 'bottom' );
    padding: 14px var(--theme-layout--container-padding);
    display: block;
    line-height: 1;
    font-size: 35px;
    margin: 0;
  }

  &__error {
    @include border-solid( var(--theme-border--width), 'black', 'top' );
    @include border-solid( var(--theme-border--width), 'black', 'bottom' );
  }

  &__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat( 1, 1fr );
  }

  &__listing {
    display: grid;
    width: 100%;
    gap: 32px;
  }

  &__location {

    &-address,
    &-name {
      display: block;
    }

    &-address {
      font-size: 20px * 0.7;
      line-height: 1.21;
      span {
        display: block;
      }
      &-link {
        display: inline-block;
        &:hover {
          color: inherit;
          opacity: var(--theme-transition--opacity);
        }
      }
    }

    &-name {
      font-size: 20px;
      line-height: 1;
      & + .stockists__location-address {
        margin-top: 12px;
      }
    }

  }

  &__region {

    @include border-solid( var(--theme-border--width), 'black', 'top' );
    display: flex;
    width: 100%;
    flex-flow: column;

    &-country,
    &-title {
      display: block;
      line-height: 0.95;
    }

    &-country {
      margin-top: 10px;
    }

    &-hero {
      &-content {
        padding: 0 var(--theme-layout--container-padding);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
      }
      &-image {
        position: relative;
        overflow: hidden;
      }
    }

    &-locations {
      width: 100%;
    }

    &-stats {
      @include border-solid( var(--theme-border--width), 'black', 'top' );
      background: var(--theme-colour--black);
      gap: var(--theme-border--width);
      font-size: 21px;
      line-height: 1;
      display: inline-grid;
      width: 100%;
      &-label,
      &-value {
        display: block;
      }
      &-column {
        background: var(--theme-colour--lemon);
        padding: 14px var(--theme-layout--container-padding);
      }
      &-grid {
        width: 100%;
        display: grid;
        &.two-column {
          grid-template-columns: repeat( 2, 1fr );
          gap: var(--theme-border--width);
        }
      }
      &-label {
        font-size: 12px;
        margin-bottom: 6px;
      }
    }

    &-title {
      font-size: 40px;
      margin: 0;
      padding: 0;
    }

  }

  @include breakpoint(sm) {

    &__city {
      font-size: 38px;
    }

    &__location {
      &-address {
        font-size: 20px * 0.7;
      }
      &-name {
        font-size: 20px;
      }
    }

    &__region {
      &-country {
        margin-top: 12px;
      }
      &-stats {
        font-size: 24px;
        &-column {
          padding: 16px var(--theme-layout--container-padding);
        }
        &-label {
          font-size: 14px;
          margin-bottom: 8px;
        }
      }
      &-title {
        font-size: 62px;
      }
    }

  }

  @include breakpoint(md) {

    &__city {
      font-size: 42px;
    }

    &__listing {
      grid-template-columns: repeat( 2, 1fr );
    }

    &__region {
      &-country {
        margin-top: 14px;
      }
      &-stats {
        font-size: 30px;
        &-column {
          padding: 18px var(--theme-layout--container-padding);
        }
        &-label {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
      &-title {
        font-size: 82px;
      }
    }

  }

  @include breakpoint(lg) {

    &__city {
      padding: 18px var(--theme-layout--container-padding);
      font-size: 44px;
      font-size: min(55px, 3.4vw);
    }

    &__listing {
      grid-template-columns: repeat( 3, 1fr );
    }

    &__location {
      &-address {
        font-size: 21px * 0.7;
        font-size: min(18px, 1.5vw);
      }
      &-name {
        font-size: 21px;
        font-size: min(28px, 2.1vw);
      }
    }

    &__region {
      flex-flow: row wrap;
      &-hero,
      &-stats {
        width: 50%;
        &-column {
          height: 100%;
          display: inline-flex;
          flex-flow: column;
          justify-content: center;
          align-items: flex-start;
        }
      }
      &-country {
        font-size: 1.35vw;
        margin-top: 8px;
      }
      &-hero {
        &-image {
          height: 100%;
          img {
            height: 101%;
            width: 101%;
            object-fit: cover;
            display: block;
          }
        }
      }
      &-stats {
        @include border-solid( var(--theme-border--width), 'black', 'left' );
        border-top: none;
        font-size: 24px;
        font-size: 2.4vw;
        &-label {
          font-size: 15px;
          font-size: 1.5vw;
          margin-bottom: 8px;
        }
      }
      &-title {
        font-size: 64px;
        font-size:min( 95px, 5.5vw );
      }
    }

  }

  @include breakpoint(xl) {}

  @include breakpoint(xxl) {}

}
