@mixin hobeaux( $weight: 700 ) {
  font-family: hobeaux, sans-serif;
  font-style: normal;
  font-weight: $weight;
}

@mixin sorry-sans( $weight: 700 ) {
  font-family: "Sorry Sans", sans-serif;
  font-style: normal;
  font-weight: $weight;
}
