{% assign section_name = 'header' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign menu_main = section.settings.menu_main | default: false %}

<div class="{{ section_name }}__main"></div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "content": "Navigation",
        "type": "header"
      },
      {
        "label": "Main Menu",
        "type": "link_list",
        "id": "menu_main"
      }
    ],
	  "blocks": []
  }
{% endschema %}
