@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;
@use "../utils/mixins/font" as *;

.card-award {

  @include hobeaux( 700 );
  @include border-solid( var(--theme-border--width), 'black' );
  border-radius: var(--theme-border--radius);
  display: grid;
  grid-template-rows: 1fr 1fr minmax( 20px, 32px );
  width: 100%;
  text-transform: uppercase;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: auto;

  &__footnote,
  &__icon,
  &__main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  &__icon,
  &__main {
    height: 100%;
  }

  &__content {
    padding: 0 var(--theme-layout--gutter) var(--theme-layout--gutter);
  }

  &__details {
    @include sorry-sans( 700 );
    line-height: 1.2;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    font-size: 16px;
    font-size: 4vw;
    margin-top: auto;
  }

  &__footnote {
    background: var(--theme-colour--black);
    color: var(--theme-colour--white);
    text-align: center;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.02em;
  }

  &__icon {
    //background: rgba(0,0,0,0.22);
    a, img, svg {
      display: block;
      width: auto;
      height: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__main {
    //background: rgba(0,0,0,0.44);
    padding: min(40px,2.5vw) 0 min(100px,8.5vw) 0;
    align-items: flex-start;
  }

  &__title {
    font-size: min(100px, 8.5vw);
    display: block;
    line-height: 1;
  }

  @include breakpoint(sm) {

    &__details {
      font-size: 3.5vw;
    }

    &__footnote {
      font-size: 2.5vw;
    }

    &__title {
      font-size: 8vw;
    }

  }

  @include breakpoint(md) {

    &__details {
      font-size: 2vw;
    }

    &__footnote {
      font-size: 1.4vw;
    }

    &__main {
      padding: min(40px,1.5vw) 0 min(100px,3vw) 0;
    }

    &__title {
      font-size: 4.5vw;
    }

  }

  @include breakpoint(lg) {

    &__details {
      font-size: 16px;
      width: 75%;
    }

    &__footnote {
      font-size: 12px;
    }

    &__main {
      padding: 12px 0 26px 0;
    }

    &__title {
      font-size: 36px;
    }

  }

  @include breakpoint(xl) {

    &__details {
      font-size: 20px;
    }

    &__footnote {
      font-size: 14px;
    }

    &__main {
      padding: 14px 0 28px 0;
    }

    &__title {
      font-size: 42px;
    }

  }

  @include breakpoint(xxl) {

    &__details {
      font-size: 24px;
    }

    &__footnote {
      font-size: 16px;
    }

    &__main {
      padding: 16px 0 30px 0;
    }

    &__title {
      font-size: 54px;
    }

  }

}
