.error-404 {

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;
  }

  &__cta {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    &-link {
      height: 44px;
      width: auto;
      img, svg {
        display: block;
        width: auto;
        height: 100%;
      }
    }
  }

  &__heading {
    font-size: 170px;
    & + .error-404__message {
      margin-top: 20px;
    }
  }

  &__main {
    width: 100%;
  }

  @include breakpoint(sm) {

    &__heading {
      font-size: 225px;
    }

  } // min width sm

  @include breakpoint(md) {

    &__heading {
      font-size: 260px;
    }

  } // min width md

  @include breakpoint(lg) {

    &__heading {
      font-size: 290px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__cta {
      margin-top: 28px;
    }

    &__heading {
      font-size: 320px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__heading {
      font-size: 360px;
    }

  } // min width xxl

}
