.age-gate {

  .modal {
    &__actions {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    &__button {
      &.no {}
      &.yes {}
    }
    &__container {
      width: 100%;
      height: 100%;
      max-width: none;
      max-height: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__content {
      background: rgba(var(--theme-colour-white),1);
      color: rgba(var(--theme-colour-black),1);
      border-radius: 5px;
      border-bottom: 3px solid rgba(var(--theme-colour-black), 1);
      border-left: 3px solid rgba(var(--theme-colour-black), 1);
      padding: 0;
      margin: 0 auto;
      overflow: unset;
      text-align: center;
      max-width: 400px;
      &-inner {
        border-radius: 5px;
        border-top: 3px solid rgba(var(--theme-colour-black), 1);
        border-right: 3px solid rgba(var(--theme-colour-black), 1);
      }
    }
    &__main {
      width: 100%;
      height: auto;
    }
    &__message {
      padding: 28px;
      &-image {
        width: 56%;
        margin: 0 auto 20px;
        img, svg {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    &__overlay {
      background: rgba(var(--theme-colour-orange), 0.9);
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .modal {
      &__content {
        max-width: none;
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
