.age-gate {

  .modal {
    &__actions {
      border-top: 3px solid rgba(var(--theme-colour-black), 1);
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      &-vr {
        width: 3px;
        background: rgba(var(--theme-colour-black), 1);
        height: 52px;
        display: block;
      }
    }
    &__button {
      color: rgba(var(--theme-colour-black), 1);
      &.no {}
      &.yes {
        flex: 1;
      }
      &:hover {
        background: rgba(var(--theme-colour-orange), 1);
        color: rgba(var(--theme-colour-black), 1);
      }
    }
    &__container {
      width: 100%;
      height: 100%;
      max-width: none;
      max-height: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__content {
      background: rgba(var(--theme-colour-white),1);
      color: rgba(var(--theme-colour-black),1);
      text-align: center;
      padding: 0;
      margin: 0 auto;
      max-width: 350px;
      position: relative;
      overflow: unset;
      border: 3px rgba(var(--theme-colour-black),1) solid;
      &-header {
        height: 28px;
        width: 100%;
      }
      // LEFT & RIGHT
      &:before,
      &:after {
        background: rgba(var(--theme-colour-black),1);
        border: 3px rgba(var(--theme-colour-black),1) solid;
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
      }
      // LEFT
      &:before {
        left: -15px;
        top: 3px;
        width: 12px;
        height: 102%;
        transform: skewY(-45deg);
      }
      // BOTTOM
      &:after {
        bottom: -15px;
        right: 2px;
        width: 102%;
        height: 12px;
        transform: skewX(-45deg);
      }
    }
    &__main {
      width: 100%;
      height: auto;
    }
    &__message {
      padding: 28px;
      padding-top: 0;
      &-image {
        width: 45%;
        margin: 0 auto 20px;
        img, svg {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    &__overlay {
      background: rgba(var(--theme-colour-orange), 0.9);
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .modal {
      &__content {
        max-width: 400px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
