.age-gate {

  .modal {
    &__message,
    &__success-message {
      padding: 28px;
    }
    &__actions {
      border-top: 3px solid rgba(var(--theme-colour-black), 1);
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      &-vr {
        width: 3px;
        background: rgba(var(--theme-colour-black), 1);
        height: 52px;
        display: block;
      }
    }
    &__button {
      font-family: var(--theme-font-family--sans-serif--secondary);
      color: rgba(var(--theme-colour-black), 1);
      font-size: 68px;
      padding: 18px;
      height: auto;
      line-height: 0.9;
      &.no {}
      &.yes {
        flex: 1;
        border-left: 3px solid rgba(var(--theme-colour-black), 1);
      }
      &:hover {
        background: rgba(var(--theme-colour-orange), 1);
        color: rgba(var(--theme-colour-black), 1);
      }
    }
    &__container {
      width: 100%;
      height: 100%;
      max-width: none;
      max-height: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__content {
      margin: 0;
      padding: 0;
      position: relative;
      overflow: hidden;
      &-frame {
        background: rgba(var(--theme-colour-white),1);
        color: rgba(var(--theme-colour-black),1);
        text-align: center;
        padding: 0;
        margin: 0 auto;
        max-width: 350px;
        position: relative;
        overflow: unset;
        border: 3px rgba(var(--theme-colour-black),1) solid;
        // LEFT & RIGHT
        &:before,
        &:after {
          background: rgba(var(--theme-colour-black),1);
          border: 3px rgba(var(--theme-colour-black),1) solid;
          content: '';
          display: block;
          position: absolute;
          z-index: -1;
        }
        // LEFT
        &:before {
          left: -15px;
          top: 3px;
          width: 12px;
          height: 102%;
          transform: skewY(-45deg);
        }
        // BOTTOM
        &:after {
          bottom: -15px;
          right: 2px;
          width: 102%;
          height: 12px;
          transform: skewX(-45deg);
        }
      }
    }
    &__main {
      width: 100%;
      height: auto;
    }
    &__message {
      &-image {
        width: 60%;
        margin: 0 auto 10px;
        img, svg {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    &__overlay {
      background: rgba(var(--theme-colour-orange), 0.9);
    }
    &__success-message {
      transition: opacity 500ms, transform 500ms;
      font-family: var(--theme-font-family--sans-serif--secondary);
      color: rgba(var(--theme-colour-black), 1);
      background: rgba(var(--theme-colour-black), 1);
      color: rgba(var(--theme-colour-white), 1);
      font-size: 36px;
      position: absolute;
      bottom: 0;
      left: 0;
      height: calc( 100% - 24px );
      width: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: translate3d( 0, 15px, 0);
      &.active {
        opacity: 1;
        transform: translate3d( 0, 0, 0);
      }
    }
  }

  @include breakpoint(sm) {

    .modal {
      &__success-message {
        font-size: 40px;
      }
    }

  } // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .modal {
      &__content {
        max-width: 400px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
