@use '../utils/mixins/border' as *;
@use '../utils/mixins/breakpoint' as *;

.collection {

  &__badge {
    height: 70px;
    width: auto;
    position: absolute;
    top: 14px;
    left: -14px;
    z-index: 50;
    img, svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat( 1, 1fr );
  }

  &__item {
    position: relative;
  }

  @include breakpoint(sm) {

    &__badge {
      height: 76px;
    }

  }

  @include breakpoint(md) {

    &__badge {
      height: 82px;
    }

  }

  @include breakpoint(lg) {

    &__badge {
      height: 70px;
    }

  }

  @include breakpoint(xl) {

    &__badge {
      height: 76px;
    }

  }

  @include breakpoint(xxl) {

    &__badge {
      height: 82px;
    }

  }

}
