@use '../utils/mixins/border' as *;
@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/font' as *;
@use '../utils/mixins/ui' as *;

.footer {

  text-transform: uppercase;
  position: relative;

  &__footnote {
    @include sorry-sans( 700 );
    background: var(--theme-colour--lemon);
    color: var(--theme-colour--black);
    &-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: baseline;
      font-size: 11px;
      padding: 12px 0;
    }
    &-instagram {
      display: inline-flex;
      width: auto;
      align-items: baseline;
      &-cta {
        display: none;
      }
      &-link {
        color: inherit;
        &:hover {
          color: inherit;
          opacity: 0.5;
        }
      }
    }
  }

  &__main {
    @include hobeaux( 700 );
    color: var(--theme-colour--lemon);
    &-content {
      display: flex;
      width: 100%;
      flex-flow: row wrap;
    }
    &-media {
      width: 100%;
      aspect-ratio: 375/317;
      height: auto;
    }
    &-navigation {
      padding: var(--theme-layout--gutter) 0;
      font-size: 28px;
      font-size: 6.5vw;
      display: inline-grid;
      gap: 18px;
      grid-template-columns: repeat( 1, 1fr );
      width: 100%;
      &-item,
      &-link {
        line-height: 1;
      }
      &-link {
        width: auto;
        &.active,
        &:hover {
          opacity: var(--theme-transition--opacity);
          color: inherit;
        }
      }
    }
    &-tagline {
      font-size: 17vw;
      line-height: 1;
      position: relative;
      font-weight: inherit;
      display: block;
      padding-bottom: var(--theme-layout--gutter);
      &-media {
        width: calc( (var(--theme-layout--gutter) * 2) + 100%);
        height: 100%;
        position: absolute;
        top: 0;
        left: calc( (var(--theme-layout--gutter) * -1) );
        img, svg {
          display: block;
          object-fit: cover;
          object-position: top left;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  @include breakpoint(sm) {

    &__main {
      &-media {
        aspect-ratio: 375/250;
      }
    }

  }

  @include breakpoint(md) {

    &__main {
      &-media {
        aspect-ratio: 375/200;
      }
    }

  }

  @include breakpoint(lg) {

    &__footnote {
      background: transparent;
      color: var(--theme-colour--lemon);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      &-content {
        padding-top: calc( 1.5 * var(--theme-layout--gutter) );
        padding-bottom: calc( 1.5 * var(--theme-layout--gutter) );
        justify-content: flex-end;
        gap: 40px;
        font-size: 14px;
      }
      &-instagram {
        order: 2;
        &-cta {
          display: block;
        }
        &-link {
          margin-left: 5px;
        }
      }
      &-legal {
        order: 1;
      }
    }

    &__main {
      &-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
      }
      &-navigation {
        font-size: 18px;
        font-size: 2.25vw;
        order: 2;
        margin-left: auto;
        text-align: right;
        width: auto;
        gap: 14px;
      }
      &-tagline {
        font-size: 9vw;
        order: 1;
        width: 50%;
        padding-top: calc( 1.5 * var(--theme-layout--gutter) );
        padding-bottom: calc( 1.5 * var(--theme-layout--gutter) );
        &-media {
          width: 100%;
          padding-left: calc( 1.5 * var(--theme-layout--gutter) );
          img, svg {
            display: block;
            object-fit: contain;
            object-position: top left;
            width: auto;
            height: 100%;
          }
        }
      }
    }

  }

  @include breakpoint(xl) {}

  @include breakpoint(xxl) {}

}
