@use '../utils/mixins/border' as *;
@use '../utils/mixins/breakpoint' as *;

.header {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;

  @include breakpoint(sm) {}

  @include breakpoint(md) {}

  @include breakpoint(lg) {}

  @include breakpoint(xl) {}

  @include breakpoint(xxl) {}

}
