@use '../utils/mixins/border' as *;
@use '../utils/mixins/breakpoint' as *;

.header {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  padding-left: var(--theme-layout--container-padding);
  padding-right: var(--theme-layout--container-padding);

  &__main {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    &-burger {
      display: inline-flex;
      position: absolute;
      left: 0;
      height: 14px;
      width: 36px;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      &:after,
      &:before {
        transition:
          bottom var(--theme-transition--duration),
          top var(--theme-transition--duration);
        background: var(--theme-colour--black);
        height: var(--theme-border--width);
        content: "";
        display: block;
        width: 100%;
        position: absolute;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
      .shopify-section-drawer-mobile-menu--active & {
        &:before {
          top: calc( 50% - (var(--theme-border--width) * 0.5) );
        }
        &:after {
          bottom: calc( 50% - (var(--theme-border--width) * 0.5) );
        }
      }
    }
    &-cart-summary {
      position: absolute;
      right: 0;
      line-height: 1;
      display: inline-flex;
      width: auto;
      justify-content: center;
      align-items: baseline;
      gap: 4px;
      &-icon {
        height: min(26px, 5.5vw);
        width: auto;
        display: block;
        .outline {
          fill: var(--theme-colour--black);
        }
        img, svg {
          display: block;
          height: 100%;
          width: auto;
        }
      }
      &-total {
        font-size: min(26px, 5.5vw);
      }
    }
    &-logo {
      height: var(--theme-header-logo-height--mobile);
      top: calc( 100% - (var(--theme-header-logo-height--mobile) * 0.5) );
      position: absolute;
      .fill,
      .svg-fill {
        fill: var(--theme-colour--orange);
      }
      .outline,
      .svg-outline {
        fill: var(--theme-colour--black);
      }
      a, svg {
        display: block;
        width: auto;
        height: 100%;
      }
    }
    &-logo-link {
      .shopify-section-drawer-cart--active &,
      .shopify-section-drawer-mobile-menu--active & {
        transform: translate3d(0, calc(-1 * var(--theme-header-logo-height--mobile)), 0);
        opacity: 0;
      }
    }
    &-navigation {
      display: none;
      &-item,
      &-link {
        line-height: 1;
      }
      &-link {
        width: auto;
        &.active,
        &:hover {
          opacity: var(--theme-transition--opacity);
          color: inherit;
        }
      }
    }
  }

  @include breakpoint(lg) {

    &__main {
      &-burger {
        display: none;
      }
      &-cart-summary {
        &-icon {
          height: min(32px, 2vw);
        }
        &-total {
          font-size: min(32px, 2vw);
        }
      }
      &-logo {
        height: var(--theme-header-logo-height--desktop);
        position: absolute;
        top: calc( 100% - (var(--theme-header-logo-height--desktop) * 0.5) );
        left: 0;
      }
      &-navigation {
        display: inline-flex;
        width: auto;
        justify-content: center;
        align-items: center;
        gap: 40px;
        &-item {
          font-size: min(32px, 2vw);
        }
      }
    }

  }

}
