@use '../utils/mixins/breakpoint' as *;

.hero {

  text-align: center;
  font-size: min( 80px, 13.5vw );

  &__heading {
    font-size: inherit;
  }

  @include breakpoint(lg) {

    font-size: 90px;

  }

  @include breakpoint(xl) {

    font-size: 100px;

  }

  @include breakpoint(xxl) {

    font-size: 110px;

  }

}
