@use '../utils/mixins/body-copy' as *;

.body-copy {

  &--primary {
    @include body-copy-style( 1 );
  }

  &--secondary {
    @include body-copy-style( 2 );
  }

  &--1 {
    @include body-copy-size('1');
    line-height: 1.1818;
  }

  &--2 {
    @include body-copy-size('2');
    line-height: 1.2222;
  }

  &--3 {
    @include body-copy-size('3');
    line-height: 1.1875;
  }

  &--4 {
    @include body-copy-size('4');
    line-height: 1.4343;
  }

}
