@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/ui' as *;


.button {

  @extend %ui-base;
  @extend %ui-transition;

  &--svg {
    @extend .button;
  }

  &--svg {
    path {
      transition: fill var(--theme-transition--duration);
    }
    .button-outline {
      fill: var(--theme-colour--black);
    }
    .button-fill {
      fill: var(--theme-colour--white);
    }
    &:hover {
      .button-fill {
        fill: var(--theme-colour--orange);
      }
    }
    @include breakpoint(lg) {
      max-width: 700px;
    }
  }

}
