@use 'sass:color';
@use 'sass:map';
@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/ui' as *;
@use '../utils/variables' as *;

.button {

  @extend %ui-base;
  @extend %ui-transition;

  path {
    transition: fill var(--theme-transition--duration);
  }

  &--accordion,
  &--age-gate,
  &--svg {
    @extend .button;
  }

  // ---------------------------------------- Age Gate
  &--age-gate {
    background: var(--theme-colour--white);
    color: var(--theme-colour--black);
    &:hover {
      background: var(--theme-colour--orange);
    }
  }

  // ---------------------------------------- SVG Button
  &--svg {

    img, svg {
      display: block;
      height: 100%;
      width: auto;
    }

    path {
      transition: fill var(--theme-transition--duration);
    }

    .button-outline {
      fill: var(--theme-colour--black);
    }

    .button-fill {
      fill: var(--theme-colour--white);
    }

    &:hover {
      .button-fill {
        fill: var(--theme-colour--orange);
      }
    }

    @each $name, $value in $theme-colours {
      &-fill-#{$name} {
        .button-fill {
          fill: var(--theme-colour--#{$name});
        }
        &:hover {
          opacity: 1;
          .button-fill {
            fill: color.scale( $value, $lightness: -15%);
          }
        }
      }
    }

  }

  &[disabled],
  &.disabled {
    @extend %ui-disabled;
  }

}
