@use '../utils/mixins/breakpoint' as *;

.button {

  &--svg {
    path {
      transition: fill var(--theme-transition--duration);
    }
    .button-border {
      fill: var(--theme-colour--black);
    }
    .button-fill {
      fill: var(--theme-colour--white);
    }
    &:hover {
      .button-fill {
        fill: var(--theme-colour--orange);
      }
    }
    @include breakpoint(lg) {
      max-width: 700px;
    }
  }

}
