@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;
@use "../utils/mixins/font" as *;

.fifty-fifty {

  background: var(--theme-colour--black);

  &__heading,
  &__message {
    & + .fifty-fifty__cta {
      margin-top: min(32px, 10vw);
    }
  }

  &__content {
    margin-left: auto;
    margin-right: auto;
    &-row {
      width: 100%;
      &.flex {
        padding-left: min(40px,6.25vw);
        padding-right: min(40px,6.25vw);
        padding-top: min(62px,8vw);
        padding-bottom: min(70px,10vw);
        display: flex;
        flex-flow: column;
        align-items: flex-start;
      }
      &.grid {
        display: grid;
        grid-template-columns: repeat( 1, 1fr );
        .fifty-fifty__content-cell {
          padding-left: min(40px,6.25vw);
          padding-right: min(40px,6.25vw);
          padding-top: min(62px,8vw);
          padding-bottom: min(70px,10vw);
        }
      }
    }
  }

  &__cta {
    &-button {
      display: inline-flex;
      width: auto;
      height: min(78px, 11vw); // 50px;
      img, svg {
        display: block;
        height: 100%;
        width: auto;
      }
    }
  }

  &__main {
    gap: var(--theme-border--width);
    display: grid;
    width: 100%;
    grid-template-columns: repeat( 1, 1fr );
    overflow: hidden;
  }

  &__heading {
    & + .fifty-fifty__message {
      margin-top: 18px;
    }
  }

  &__image {
    width: 100%;
    &-badge {
      transition: transform var(--theme-transition--duration);
      position: absolute;
      top: 7.5vw;
      right: 7.5vw;
      height: 95px;
      img, svg {
        display: block;
        height: 100%;
        width: auto;
      }
    }
    &.with-border {
      @include border-solid(var(--theme-border--width), 'black' );
      border-radius: var(--theme-border--radius);
      overflow: hidden;
    }
  }

  &__item {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    &.image {
      order: 1;
    }
    &.text {
      order: 2;
    }
  }

  @include breakpoint(sm) {

    &__image {
      &-badge {
        height: 115px;
      }
    }

  }

  @include breakpoint(md) {

    &__image {
      &-badge {
        height: 135px;
      }
    }

  }

  @include breakpoint(lg) {

    &__content {
      &-row {
        &.flex { }
        &.grid {
          grid-template-columns: repeat( 2, 1fr );
        }
      }
    }

    &__cta {
      &-button {
        height: min(82px, 5.5vw);
      }
    }

    &__heading {
      & + .fifty-fifty__message {
        margin-top: 22px;
      }
    }

    &__image {
      &-badge {
        top: 4.5vw;
        right: 4.5vw;
        height: 110px;
      }
    }

    &__item {
      &.image,
      &.text {
        order: initial;
      }
    }

    &__main {
      grid-template-columns: repeat( 2, 1fr );
    }

  }

  @include breakpoint(xl) {

    &__image {
      &-badge {
        height: 135px;
      }
    }

  }

  @include breakpoint(xxl) {

    &__image {
      &-badge {
        height: 155px;
      }
    }

  }

}
