@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;
@use "../utils/mixins/font" as *;

.fifty-fifty {

  background: var(--theme-colour--black);

  &__content {
    margin-left: auto;
    margin-right: auto;
  }

  &__main {
    gap: var(--theme-border--width);
    display: grid;
    width: 100%;
    grid-template-columns: repeat( 1, 1fr );
    overflow: hidden;
  }

  &__heading {
    & + .fifty-fifty__message {
      margin-top: 18px;
    }
  }

  &__image {
    &.with-border {
      @include border-solid(var(--theme-border--width), 'black' );
      border-radius: var(--theme-border--radius);
      overflow: hidden;
    }
  }

  &__item {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    &.image {
      order: 1;
    }
    &.text {
      order: 2;
    }
  }

  @include breakpoint(sm) {}

  @include breakpoint(md) {}

  @include breakpoint(lg) {

    &__heading {
      & + .fifty-fifty__message {
        margin-top: 22px;
      }
    }

    &__item {
      &.image,
      &.text {
        order: initial;
      }
    }

    &__main {
      grid-template-columns: repeat( 2, 1fr );
    }

  }

  @include breakpoint(xl) {}

  @include breakpoint(xxl) {}

}
