.form-field {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &--textarea {
    .form-error {
      top: calc( 0.5 * var(--theme-layout--gutter) );
    }
  }

}
