.form-error {

  transition:
    opacity var(--theme-transition--duration),
    transform var(--theme-transition--duration);
  background: var(--theme-colour--orange);
  color: var(--theme-colour--lemon);
  position: absolute;
  opacity: 0;
  padding: 5px 15px;
  border-radius: 50px;

  &--left {
    transform: translate3d( -5px, 0, 0 );
    left: calc( 0.5 * var(--theme-layout--gutter) );
  }

  &--right {
    transform: translate3d( 5px, 0, 0 );
    right: calc( 0.5 * var(--theme-layout--gutter) );
  }

  .error & {
    opacity: 1;
    transform: translate3d( 0, 0, 0 );
  }

}
