.form-error {
  transition:
    color var(--theme-transition-duration),
    opacity var(--theme-transition-duration),
    transform var(--theme-transition-duration);
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 10px;
  color: red;
  opacity: 1;
}
