@use "../utils/mixins/border" as *;
@use "../utils/mixins/breakpoint" as *;

.form {

  position: relative;
  overflow: hidden;

  &--primary {

    @extend .form;

    background: var(--theme-colour--lemon);

    .form {
      &__action {
        padding: calc( 0.5 * var(--theme-layout--gutter) );
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      &__button {
        width: auto;
        height: min(75px,11vw);
      }
      &__field {
        & + .form__action,
        & + .form__field {
          @include border-solid( var(--theme-border--width), 'black', 'top' );
        }
      }
    }

    .input {
      padding: 0 calc( 0.5 * var(--theme-layout--gutter) );
    }

    .textarea {
      padding: calc( 0.5 * var(--theme-layout--gutter) );
    }

  }

  &.form-posting {
    opacity: 0.5;
    pointer-events: none;
  }

  @include breakpoint(lg) {

    &--primary {
      .form {
        &__button {
          height: min(78px, 5.25vw);
        }
      }
    }

  }

}
