.heading {

  font-family: var(--theme-font-family--sans-serif--secondary);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &--xxl {
    @extend .heading;
    text-transform: uppercase;
    font-size: 100px;
    line-height: 0.9;
  }

  @include breakpoint(sm) {

    &--xxl {
      font-size: 120px;
    }

  } // min width sm

  @include breakpoint(md) {

    &--xxl {
      font-size: 160px;
    }

  } // min width md

  @include breakpoint(lg) {

    &--xxl {
      font-size: 130px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &--xxl {
      font-size: 160px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &--xxl {
      font-size: 190px;
    }

  } // min width xxl

}
