.hype-builder {

  .form {
    .input--email {
      &::placeholder {
        color: rgba(var(--theme-colour-black), 1);
        text-transform: uppercase;
      }
    }
    &__row {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-flow: row nowrap;
      .form__button {
        margin-left: var(--bs-gutter-width);
      }
    }
  }

  &__newsletter-message,
  &__media-caption {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 320px;
  }

  &__brand {
    width: 100%;
    height: auto;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    & + .hype-builder__newsletter {
      margin-top: 32px;
    }
  }

  &__content {
    padding: 0 var(--bs-container-fluid-padding);
    width: 100%;
    max-width: 520px;
    margin: auto;
    & + .hype-builder__media {
      margin-top: 36px;
    }
  }

  &__layout {
    display: flex;
    width: 100%;
    margin: auto;
    overflow: visible;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  &__newsletter {
    &-message {
      & + .hype-builder__newsletter-form {
        margin-top: 26px;
      }
    }
  }

  &__main {
    overflow: hidden;
  }

  &__media {

    position: relative;
    width: 100%;
    overflow: visible;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    &-cta,
    &-details {
      display: inline-flex;
      width: 100%;
      margin-top: 28px;
      justify-content: center;
      align-items: center;
    }

    &-content {
      padding: 0 var(--bs-container-fluid-padding);
      width: 100%;
      max-width: 520px;
      margin: auto;
      margin-top: 10px;
    }

    &-button {

      display: block;
      height: 46px;

      img, svg {
        display: block;
        height: 100%;
        width: auto;
      }

      &:focus,
      &:hover {
        opacity: 0.6666;
      }

    }

    &-cta {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 18px;
    }

    &-details {

      gap: 16px;

      &-label,
      &-value {
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        display: block;
      }

      &-grid {
        display: grid;
        height: auto;
        width: auto;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        border: 3px solid black;
        border-radius: 12px;
      }

      &-item {
        padding: 10px 16px;
        border-left: 3px solid black;
        &:first-child {
          border-left: none;
        }
      }

      &-label {
        font-family: var(--theme-font-family--sans-serif--primary);
        font-size: 10px;
        margin-top: 3px;
      }

      &-value {
        font-family: var(--theme-font-family--sans-serif--secondary);
        font-size: 28px;
      }

    }

    &-image {
      height: 300px;
      overflow: visible;
      position: relative;
      img {
        display: block;
        height: 100%;
        object-fit: cover;
        margin: auto;
        width: auto;
        position: relative;
        margin-left: 50%;
        transform: translate3d(-50%, 0, 0);
      }
    }

  }

  @include breakpoint(sm) {

    &__media {
      &-button {
        height: 50px;
      }
      &-image {
        height: 460px;
      }
    }

  } // min width sm

  @include breakpoint(md) {

    &__media {
      &-image {
        height: 480px;
      }
    }

  } // min width md

  @include breakpoint(lg) {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__newsletter-message,
    &__media-caption {
      max-width: unset;
    }

    &__content,
    &__media {
      width: 50%;
    }

    &__brand {
      width: 65%;
      margin: auto;
      & + .hype-builder__newsletter {
        margin-top: 20px;
      }
    }

    &__content {
      & + .hype-builder__media {
        margin-top: 0;
      }
    }

    &__content {
      position: relative;
      z-index: 5;
      max-width: unset;
      padding: 0;
      & + .hype-builder__image {
        margin-top: 0;
      }
    }

    &__media {
      z-index: 0;
      &-button {
        order: 4;
        height: 46px;
      }
      &-caption {
        order: 3;
        font-size: 14px;
        max-width: 300px;
        margin-top: 12px;
      }
      &-content {
        margin-top: 0;
      }
      &-cta {
        order: 4;
        margin-top: 22px;
      }
      &-details {
        order: 2;
        margin: 0;
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        &-grid {
          display: grid;
          height: auto;
          border: 3px solid black;
          border-radius: 12px;
          grid-template-columns: 1fr;
        }
        &-item {
          margin: 0;
          padding: 23px 6px;
          border-top: 3px solid black;
          border-left: none;
          &:first-child {
            border-top: none;
          }
        }
        &-label {
          font-size: 10px;
        }
        &-value {
          font-size: 22px;
        }
      }
      &-image {
        order: 1;
        height: 315px;
      }
    }

    &__layout {
      max-width: var(--bs-container-width--lg);
      justify-content: space-between;
      align-items: center;
      flex-flow: row nowrap;
    }

    &__newsletter {
      &-form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      &-message {
        max-width: 320px;
        & + .hype-builder__newsletter-form {
          margin-top: 18px;
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__brand {
      width: 68%;
    }

    &__layout {
      max-width: var(--bs-container-width--xl);
    }

    &__media {
      &-caption {
        font-size: 13px;
        max-width: 320px;
      }
      &-details {
        margin-top: 12px;
      }
      &-image {
        height: 425px;
      }
    }

    &__newsletter {
      &-form {
        width: 80%;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__brand {
      width: 65%;
    }

    &__layout {
      max-width: var(--bs-container-width--xxl);
    }

    &__media {
      &-caption {
        font-size: 14px;
        max-width: 340px;
      }
      &-details {
        margin-top: 12px;
        &-item {
          padding: 30px 7px;
        }
        &-label {
          font-size: 12px;
        }
        &-value {
          font-size: 28px;
        }
      }
      &-image {
        height: 468px;
      }
    }

    &__newsletter {
      &-form {
        width: 75%;
      }
    }

  } // min width xxl

}
