.hype-builder {

  .form {
    &__row {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      flex-flow: row nowrap;
      .form__button {
        margin-left: var(--bs-gutter-width);
      }
    }
  }

  &__brand {
    width: 100%;
    height: auto;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    & + .hype-builder__newsletter {
      margin-top: 32px;
    }
  }

  &__content {
    & + .hype-builder__media {
      margin-top: 36px;
    }
  }

  &__layout {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  &__newsletter {
    &-message {
      & + .hype-builder__newsletter-form {
        margin-top: 26px;
      }
    }
  }

  &__media {
    position: relative;
    width: calc( 100% + (2 * var(--bs-container-fluid-padding)));
    &-caption {}
    &-image {
      height: 320px;
      img {
        display: block;
        height: 100%;
        object-fit: cover;
        margin: auto;
      }
    }
  }

  @include breakpoint(sm) {

    &__image {
      height: 320px;
    }

  } // min width sm

  @include breakpoint(md) {

    &__image {
      height: 480px;
    }

  } // min width md

  @include breakpoint(lg) {

    &__content,
    &__image {
      width: 50%;
    }

    &__brand {
      & + .hype-builder__newsletter {
        margin-top: 32px;
      }
    }

    &__content {
      & + .hype-builder__image {
        margin-top: 0;
      }
    }

    &__image {
      height: 390px;
    }

    &__layout {
      justify-content: space-between;
      align-items: center;
      flex-flow: row nowrap;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__image {
      height: 410px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__image {
      height: 430px;
    }

  } // min width xxl

}
