@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/ui' as *;

.input {

  @extend %ui-base;
  @extend %ui-input;
  @extend %ui-transition;

  &--primary,
  &--secondary {
    @extend .input;
  }

  &--primary {
    @each $name, $value in $theme-button-heights {
      @if $name == 'base' {
        height: var(--theme-button-height);
      } @else {
        @include breakpoint(#{$name}) {
          height: var(--theme-button-height--#{$name});
        }
      }
    }
    width: 100%;
  }

  &--secondary {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type=number] {
      -moz-appearance: textfield;
    }
  }

  &[disabled],
  &.disabled {
    @extend %ui-disabled;
  }

}
