@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/ui' as *;

.input {

  @extend %ui-base;
  @extend %ui-input;
  @extend %ui-transition;

  &--primary,
  &--secondary {
    @extend .input;
  }

  &--secondary {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type=number] {
      -moz-appearance: textfield;
    }
  }

  &[disabled],
  &.disabled {
    @extend %ui-disabled;
  }

}
