.input {

  transition:
    background var(--theme-transition-duration),
    border var(--theme-transition-duration),
    color var(--theme-transition-duration),
    opacity var(--theme-transition-duration);
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  width: auto;
  font-family: var(--theme-font-family--sans-serif--primary);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  background: transparent;
  max-width: none;
  border-bottom: 2px solid transparent;

  &--primary {
    @extend .input;
    border-bottom-color: rgba(var(--theme-colour-black), 1);
    padding: 8px 3px;
    width: 100%;
  }

  .error & {
    background: rgba(var(--theme-colour-orange), 0.3333);
    border-bottom-color: rgba(var(--theme-colour-orange), 1);
  }

}
