.price {

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  line-height: 1;

  &__value {
    display: block;
  }

  .sale-price {
    text-decoration: line-through;
    opacity: var(--theme-transition--opacity);
  }

}
