@use '../utils/mixins/border' as *;
@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/ui' as *;
@use '../utils/variables' as *;

.product-options {

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 1;

  &__heading {
    display: none;
  }

  &__input {
    display: none;
    &:checked {
      & + .product-options__value {
        background: var(--theme-colour--mango);
      }
    }
    &:disabled {
      & + .product-options__value {
        @extend %ui-disabled;
      }
    }
  }

  &__value {
    @each $name, $value in $theme-radio-sizes {
      @if $name == 'base' {
        height: var(--theme-radio-size);
        width: var(--theme-radio-size);
      } @else {
        @include breakpoint(#{$name}) {
          height: var(--theme-radio-size--#{$name});
          width: var(--theme-radio-size--#{$name});
        }
      }
    }
    @include border-solid( var(--theme-border--width), 'black' );
    transition: background var(--theme-transition--duration);
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: var(--theme-colour--mango);
    }
  }

  @include breakpoint(sm) {
    gap: 12px;
  }

  @include breakpoint(md) {
    gap: 14px;
    font-size: 18px;
  }

  @include breakpoint(lg) {
    justify-content: flex-start;
    font-size: 24px;
    gap: 10px;
  }

  @include breakpoint(xl) {
    font-size: 26px;
    gap: 11px;
  }

  @include breakpoint(xxl) {
    font-size: 28px;
    gap: 12px;
  }

}
