@use '../utils/variables' as *;
@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/ui' as *;

.textarea {

  @extend %ui-base;
  @extend %ui-input;
  @extend %ui-transition;

  &--primary {
    @extend .textarea;
    width: 100%;
  }

  @include breakpoint(lg) {
    &--primary {
      min-height: 200px;
    }
  }

  @include breakpoint(xl) {
    &--primary {
      min-height: 250px;
    }
  }

  @include breakpoint(xxl) {
    &--primary {
      min-height: 300px;
    }
  }

}
